.dark-mode {
    color: #fff;
    background-color: #333;
  }
  /* Style the dark mode toggle button */
  #darkModeToggle {
    background-color: #333;
    border: none;
    color: #fff;
    font-size: 1em;
    padding: 10px 20px;
    border-radius: 5px;
  }

  


  